<launch>
<param name="threshold" type="double" value="0.2" />
<param name="show_cloud" type="bool" value="true" />
<arg name="simulation" value="false" />

<group if="$(arg simulation)">
  <param name="simulation" type = "bool" value="true" />
  <arg name = "model_type" value = "frozen_inference_graph_gazebo.pb" />
  <node name="kinect2_recognition_node" pkg="kinect2_recognition" type="kinect2_recognition_node" args="$(find kinect2_recognition)/model/$(arg model_type)" output="screen" />
</group>
<group unless="$(arg simulation)">
  <param name="simulation" type = "bool" value="false" />
  <arg name = "model_type" value = "frozen_inference_graph_real.pb" />
  <node name="kinect2_recognition_node" pkg="kinect2_recognition" type="kinect2_recognition_node" args="$(find kinect2_recognition)/model/$(arg model_type)" output="screen" />
</group>
 </launch>
